/* 로고 */


header .row>div:nth-child(1)>a {

    display: block;

    width: 200px;

    height: 50px;

    background: url(https://cdn.discordapp.com/attachments/820615768173314070/998587287073980416/2.png) no-repeat; /* url(로고 경로 입력) */

    background-size: auto 50px;

}



header .row > div:nth-child(1)>a img { 
    display:none; 
}